.App {
  text-align: center;
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #dae1ee;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 17, 73);
} */


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App-logo {
  height: 80px;
  width: 100px;
}
.App-logo-1 {
  height: 80px;
  width: 230px;
}

.header {
  display: flex;
  justify-content: space-between;
}